{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <section class="content_section white_section bg_color1">
            <div class="content row_spacer clearfix profile">
                <div class="main_title upper">
                    <h2><span class="line"></span>{{ 'profile.main_title'|trans|raw }}</h2>
                </div>
                <div class="my_col_half">
                    <div class="avatar">
                        <img  src="{{ asset(user.getAvatarPath) }}" alt="{{ 'profile.avatar.alt'|trans }}">
                    </div>
                    <div>
                        <h2 class="title1 upper">{{ user.username }}</h2>
                        <span class="url"><time>{{ 'profile.registration_date'|trans }} {{ user.getCreatedAt | localizeddate('medium', 'none', app.request.locale, null , 'd MMMM Y' )  }}</time></span>
                        <br /><br />
                        <div>
                            <a class="main_button color1 small_btn bottom_space" target="_self" href="{{ path('fos_user_profile_edit') }}"><span>{{ 'profile.edit'|trans|upper }}</span></a>
                            <a class="main_button color3 small_btn bottom_space" target="_self" href="{{ path('fos_user_change_password') }}"><span>{{ 'profile.change_password'|trans|upper }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="my_col_half">
                    <div class="counter_a clearfix">
                        <div class="col-xs-4">
                            <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                                <span class="value" data-speed="900" data-from="0" data-to="{{ user.getSpots | length }}">{{ user.getSpots | length }}</span>
                                <span class="title">{{ 'profile.stats.spot'|trans }}</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                                <span class="value" data-speed="900" data-from="0" data-to="{{ contribution }}">{{ contribution }}</span>
                                <span class="title">{{ 'profile.stats.contribution'|trans }}</span>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="counter animated fadeInDown visible" data-animation="fadeInDown" data-animation-delay="300">
                                <span class="value" data-speed="900" data-from="0" data-to="{{ comment }}">{{ comment }}</span>
                                <span class="title">{{ 'profile.stats.comment'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="content_section">
        <div class="content row_spacer">
            <div class="small_title">
				<span class="small_title_con">
					<span class="s_icon"><i class="ico-location5"></i></span>
					<span class="s_text">{{ 'profile.spots.title'|trans|upper }}</span>
				</span>
            </div>
            {% if user.getSpots | length > 0 %}
                <ul class="spots-list clearfix">
                    {% for spot in user.getSpots %}
                        {% include '@FOSUser/Profile/show.spot.html.twig' %}
                    {% endfor %}
                </ul>
            {% else %}
                <blockquote>
                    <i class="ico-quote"></i>
                    <span class="quote_text">{{ 'profile.spots.empty'|trans }}</span>
                </blockquote>
            {% endif %}
        </div>
    </section>
{% endblock %}