<!-- ================== Footer =============== !-->
<footer id="footer">
    <div class="footer_copyright">
        <div class="container clearfix">
            <div class="col-md-6">
                <span class="footer_copy_text">&copy; {{ 'website.copyright'|trans }}</span>
            </div>

            {% if status_code is not defined %}
            <div class="col-md-6 clearfix">
                <ul class="footer_menu clearfix">
                    <li><a href="{{ path('homepage') }}"><span>{{ 'menu.home'|trans }}</span></a></li>
                    <li>/</li>
                    <li><a href="{{ path('legacy') }}"><span>{{ 'menu.legacy'|trans }}</span></a></li>
                </ul>
            </div>

            <div class="col-md-12">
                {% include 'default/footer.language.html.twig' %}
            </div>
            {% endif %}
        </div>
    </div>
</footer>
<a href="#0" class="hm_go_top"></a>