<!-- ================== Header =============== !-->
<header id="site_header">
    <div id="navigation_bar">
        <div class="content">
            <div id="logo">
                <a href="{{ path('homepage') }}">
                    {% image 'images/logo.png' %}<img src="{{ asset_url }}" alt="{{ 'website.alt_logo'|trans }}" />{% endimage %}
                </a>
            </div>
            <nav id="main_nav">
                <div id="nav_menu">
                    <span class="mobile_menu_trigger"><a href="#" class="nav_trigger"><span></span></a></span>
                    <ul id="navy" class="clearfix">
                        <li class="normal_menu mobile_menu_toggle {% if app.request.get('_route') == 'homepage' %}current_page_item {% endif %}">
                            <a href="{{ path('homepage') }}"><span>{{ 'menu.home'|trans }}</span></a>
                        </li>
                        {% if not app.user %}
                            {% include 'default/menu.user.not.logged.html.twig' %}
                        {% else %}
                            {% include 'default/menu.user.logged.html.twig' %}
                        {% endif %}
                    </ul>
                </div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>
</header>