{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="col-md-12">
        <section class="content_section">
            <div class="content row_spacer">
                <div class="main_title upper">
                    <h2><span class="line"></span>{{ 'profile.main_title'|trans|raw }}</h2>
                </div>
                <div>
                    <a class="btn_a color3 small_btn bottom_space" target="_self" href="{{ path('fos_user_profile_show') }}">
                        <span><i class="in_left ico-chevron-left"></i><span>{{ 'profile.back'|trans|upper }}</span><i class="in_right ico-chevron-left"></i></span>
                    </a>
                </div>
                <div class="rows_container clearfix">
                    {% trans_default_domain 'FOSUserBundle' %}
                    <form class="hm_contact_form full_contact_form" action="{{ path("fos_user_change_password") }}" method="post">
                        <div>{{ form_errors(form, { 'attr' : {'class' : 'alert alert-danger' } }) }}</div>
                        <div class="form_row clearfix">
                            <div class="my_col_half">
                                <label for="current-password">
                                    <span class="hm_field_name">{{ 'form.current_password'|trans }}</span>
                                    <span class="hm_requires_star">*</span>
                                    <p class="hm_field_explain">{{ 'form.password_current_explain'|trans }}</p>
                                </label>
                            </div>
                            <div class="my_col_half">
                                {{ form_widget(form.current_password, { 'attr' : { 'class':  'hm_input_text'} }) }}
                                <span class="error">{{ form_errors(form.current_password) }}</span>
                            </div>
                        </div>
                        <div class="form_row clearfix">
                            <div class="my_col_half">
                                <label for="password">
                                    <span class="hm_field_name">{{ 'form.new_password'|trans }}</span>
                                    <span class="hm_requires_star">*</span>
                                    <p class="hm_field_explain">{{ 'form.password_explain'|trans }}</p>
                                </label>
                            </div>
                            <div class="my_col_half">
                                {{ form_widget(form.plainPassword.first, { 'attr' : { 'class':  'hm_input_text'} }) }}
                                <span class="error">{{ form_errors(form.plainPassword.first) }}</span>
                            </div>
                        </div>
                        <div class="form_row clearfix">
                            <div class="my_col_half">
                                <label for="password_confirm">
                                    <span class="hm_field_name">{{ 'form.new_password_confirmation'|trans }}</span>
                                    <span class="hm_requires_star">*</span>
                                    <p class="hm_field_explain">{{ 'form.new_password_conf_explain'|trans }}</p>
                                </label>
                            </div>
                            <div class="my_col_half">
                                {{ form_widget(form.plainPassword.second, { 'attr' : { 'class':  'hm_input_text'} }) }}
                                <span class="error">{{ form_errors(form.plainPassword.second) }}</span>
                            </div>
                        </div>
                        <div class="form_row clearfix">
                            <div class="my_col_half">
                                &nbsp;
                            </div>
                            <div class="my_col_half">
                                <button type="submit" name="_submit" class="send_button full_button">
                                    <i class="ico-check3"></i>
                                    <span>{{ 'change_password.submit'|trans|upper }}</span>
                                </button>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}