{% extends "default/layout.html.twig" %}

{% block body %}
    <!-- SUB_HEADER -->
    <section class="content_section bg_fixed white_section bg1">
        <div class="bg_overlay">
            <div class="content centered row_spacer clearfix">
                <div class="flex_in">
                    <span class="flex_in2 upper oswald_font">{{ 'homepage.slogan'|trans|raw }}</span>
                </div>

                <form action="{{ path('spot.search') }}" method="get">
                    <div id="global-search">
                        <button class="geolocalisation">
                            <i class="subscribe_true ico-map-marker2"></i>
                        </button>
                        <input name="address" class="geo_autocomplete" type="text" placeholder="{{ 'homepage.search.placeholder'|trans }}" required="required" aria-required="true" autocomplete="off">
                        <br /><br />
                        <button class="btn_a color3 large_btn bottom_space">
                            <span><i class="in_left ico-search7"></i><span>{{ 'homepage.search.submit'|trans|upper }}</span><i class="in_right ico-search7"></i></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- CONTENT -->
    <section class="content_section">
        <div class="content content_spacer clearfix">
            {% if hasLocation %}
                {% if spots|length > 0 %}
                    <!-- FILTER LEFT SIDE -->
                    {% include 'spot/listing/listing.filter.html.twig' %}

                    <!-- RESULTS -->
                    {% include 'spot/listing/listing.results.html.twig' %}
                {% else %}
                    <div class="main_title centered upper">
                        <h2><span class="line"><span class="dot"></span></span>{{ 'spot.listing.no_result.main_title'|trans }}</h2>
                        <div class="main_desc centered">
                            <p><b>{{ 'spot.listing.no_result.explain_text'|trans|raw }}</b></p>
                        </div>
                    </div>
                    {% if app.user %}
                        <div class="centered">
                            <br />
                            <div>
                                <a class="btn_a medium_btn bottom_space" target="_self" href="{{ path('spot.create') }}">
                                    <span><i class="in_left ico-map4"></i><span>{{ 'spot.listing.no_result.create_spot'|trans|upper }}</span><i class="in_right ico-map4"></i></span>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="main_title centered upper">
                    <h2><span class="line"><span class="dot"></span></span>{{ 'homepage.howitswork.first.title'|trans }}</h2>
                    <div class="main_desc centered">
                        <p><b>{{ 'homepage.howitswork.first.explain'|trans }}</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}

